/* .app-body{
  padding: 20px;
} */

.MainCont{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.search{
  display: flex;
justify-content:flex-end;
}
.search button{
  background-color: aqua;
}